Flask==3.0.0
Flask-Session
Werkzeug==3.0.1
Flask-WTF==1.2.1
Flask-Limiter==3.5.0
Flask-CORS==4.0.0
authlib
python-dotenv==1.0.0
Pillow==10.1.0
openai==1.3.7
pymongo==4.6.0
requests==2.31.0
gunicorn

# OCR + Image Processing
pytesseract
opencv-python-headless
pyzbar