<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cal-FIT | Scan Label</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/scan_label.css') }}">
</head>
<body>

<header>
  <div class="logo">Cal-FIT</div>
  <nav class="main-nav">
    <a href="{{ url_for('dashboard') }}">Home</a>
    <a href="#explore">Explore</a>
    <a href="#about">About Us</a>
    <a href="{{ url_for('profile') }}">Profile</a>

  </nav>
</header>
<div style="position: relative; z-index: 1; text-align: center; margin-top: 60px;">
  <p style="max-width: 700px; margin: 0 auto 30px auto; font-size: 18px; color: #ddd;">
    Cal-FIT provides comprehensive analysis of your food labels, offering valuable insights into nutritional content and potential health risks.
  </p>
</div>
</div>
<div class="parent">
  <!-- Card 1 -->
  <div class="container">
    <h2>Upload a Food Label</h2>
    <form method="POST" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="file" name="label_image">
      <button type="submit">Scan</button>
    </form>
  </div>

  <!-- Card 2 -->
  <div class="container">
    <h2>Scan a Barcode</h2>
    <form method="POST" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="file" name="barcode_image">
      <button type="submit">Scan Barcode</button>
    </form>
  </div>
</div>

<div class="text">
  <h1>How To Use Cal-FIT</h1>
</div>
<div class="tutorial">
  <div class="step1">
    <p>1</p>
    <h1>Scan</h1>
    <p>Scan your item using camera or uploading an image</p>
  </div>
  <div class="step2">
    <p>2</p>
    <h1>Read</h1>
    <p>Get results that highlight the good and bad in your food, backed by real nutritional science. </p>
  </div>
  <div class="step3">
    <p>3</p>
    <h1>Eat</h1>
    <p>Eat based on personalized suggestions tailored to your diet plan.</p>
  </div>
</div>
</body>
</html>
